<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Seller Product View</title>
</head>
<body>
    <div class="container">

            <div class="row mt-5">
                <div class="col-4"><h2>My Products</h2></div>
                <div class="col-1">



                </div>
                <div class="col-7 text-end">
                    <a href="{%url 'add_product'%}"><button class="btn btn-success">Add Product</button></a>

                     <a href="{%url 'base'%}"><button class="btn btn-dark">Back to home</button></a>
                </div>
            </div>

        <br><br>
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Product Name</th>
              <th>Description</th>
              <th>Images</th>
              <th>Price</th>
              <th>Stock</th>
              <th>Category</th>
              <th>Brand</th>
              <th>Ram</th>
              <th>Storage</th>
              <th>Color</th>
              <th>Offer</th>
              <th>Edit</th>
            </tr>
          </thead>
          <tbody>
          {% for product in products  %}
            <tr>
              <td>{{product.product_name}}</td>
              <td>{{product.description}}</td>
              <td><img src="{{product.image.url}}" alt="" style="height:200px; width:200px;"></td>
              <td>{{product.price}}</td>
              <td>{{product.stock}}</td>
              <td>{{product.category}}</td>
              <td>{{product.brand}}</td>
              <td>{{product.ram}}</td>
              <td>{{product.storage}}</td>
              <td>{{product.color}}</td>
              <td>{{product.offer}}</td>

<!--              <td><form action='edit/'  method='POST' >  {%csrf_token%} <button class="btn btn-info pull-right " name='prod_id'  id={{product.id}} value={{product.id}}>Edit</button></form></td>-->
                <td colspan="5">
                    <a href="{%url 'edit_product' product.id%}"><button class="btn btn-dark">Edit</button></a>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

<script>
    $(document).ready(function(){
<!--        alert('HY')-->
        $(".btn").click(function(){
<!--            alert($(this).val())-->
    });
});
</script>

</body>

</html>